body {
    color: white;
    background-image: url("https://media.giphy.com/media/WfEwV5Gx3ebBq14mMk/giphy.gif");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 70px;
}

#main-logo {
    width: 500px;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

.underline {
    border-bottom: 4px solid white;
}
